<%- include("include/sidebar") %>
<section class="main">
    <div class="msg">
        <h1>Are you sure you want to delete this student?</h1>
    </div>
    <br>
    <!-- <table class="table-box2">
            <thead>
                <% for(var i=0;i<result.length;i++){%>
                    <tr>
                        <th>Name</th>
                        <td><%- result[i].name %></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><%- result[i].duration %></td>
                    </tr>
                    <tr>
                        <th>Phone No.</th>
                        <td><%- result[i].tfee %></td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td><%- result[i].dfee %></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/deleteCourse-confirm?id=<%- result[i].id %>">Yes</a> 
                            <a href="/all-courses">No</a>
                        </td>
                    </tr>
                <% } %>
            </thead>
    </table> -->
    <% for(var i=0;i<result.length;i++){%>
        <div class="delete">
            <div class="delete-box-left">
                <p>Name</p>
                <p>Duration</p>
                <p>Total Fees</p>
                <p class="last-p">Discounted Fees</p>
            </div>
            <div class="delete-box-right">
                <p><%- result[i].name %></p>
                <p><%- result[i].duration %></p>
                <p><%- result[i].tfee %></p>
                <p class="last-p"><%- result[i].dfee %></p>
            </div>
        </div>
        <div class="delete-action-btn">
            <a href="/deleteCourse-confirm?id=<%- result[i].id %>" id="yes">Yes</a> 
            <a href="/all-courses" id="no">No</a>
        </div>
    <% } %>
</section>
</body>
</html>


                        